<h1>Welcome to the farm simulator</h1>
<% if logged_in? && current_user.admin? %>
<p><strong>ADMIN MODE</strong></p>
<% end %>

<p>Listing of all farms</p>


<table border=1, width=400px>
  <tr>
    <th width=100px>User Name</th>
    <th width=100px>Farm Name</th>
    <th colspan=3, width=100px>Actions</th>
  </tr>
  
  <% @farms.each do |farm| %>
  <tr align=center>
    <td><%= link_to farm.user.username, user_path(farm.user_id) %></td>
    <td><%= farm.name %></td>
    <% if logged_in? && (current_user == farm.user || current_user.admin?) %>
      <td width=1em><%= link_to "Edit", edit_farm_path(farm) %></td>
      <td width=2em><%= link_to "Show Content", farm_path(farm) %></td>
      <td width=1em><%= link_to "Delete", farm_path(farm), method: :delete, data: {confirm: "Are you sure?"} %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% if logged_in? %>
<p><%= link_to "Create a new farm", new_farm_path(@farm) %> |
<%= link_to "See users listing", users_path %></p>
<% end %>