<% if @user.errors.any? %>
<h2>The following errors prevented the farm from being created</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>   
  </ul>
<% end %>

<%= form_for [@user] do |f| %>
  <p>
    <%= f.label :username %><br/>
    <%= f.text_field :username, placeholder: "Enter username" %>
  </p>

  <p>
    <%= f.label :email %><br/>
    <%= f.email_field :email, placeholder: "Enter email" %>
  </p>
  
  <p>
    <%= f.label :password %><br/>
    <%= f.password_field :password, placeholder: "Enter password" %>
  </p>

  <p>
    <%= f.submit(@user.new_record? ? "Register" : "Update account") %>
  </p>

<% end %>


<%= link_to "Back to homepage", farms_path %>